<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ lista.titulo }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--INGRESO DE DATOS-->
    <ion-list>

      <ion-list-header>
        Tareas por hacer
      </ion-list-header>

      <ion-item>
        <ion-label floating>Nuevo ítem</ion-label>
        <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()"></ion-input>
      </ion-item>

    </ion-list>

    <ion-list *ngIf="lista.items.length > 0">

      <ion-list-header>Tareas por hacer</ion-list-header>

      <button ion-item detail-none (click)="actualizarTarea(item)" *ngFor="let item of lista.items" class="animated fadeInDown">
        <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
        <ion-icon *ngIf="!item.completado" name="square-outline" item-start></ion-icon>
        {{ item.desc }}
      </button>

    </ion-list>
  </ion-content>
